body {
  background: #fff;
  font-family: 'SF Pro Text';
}

ul, li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.all-products-route {
  background-color: transparent;
  color: #2c5cc5;
  text-decoration: none; 
}

.table-body-name {
  width:50%; 
  font-family: 'SF Pro Text';
  color: #475867;
}

.product-header {
  margin-left: 20px;
  height: 60px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgb(221, 215, 215);
}

.product-header-text {
  font-weight: 600;
  font-size: 20px;
  color: #475867;
  padding: 10px 10px 20px;
}

.container {
  justify-items: center;
  border: 1px;
  border-style: solid;
  border-color: rgb(221, 215, 215);
  border-radius: 7px;
  margin: 30px;
  background-color: white;
}

.table-heading {
  overflow: hidden;
  background: #F8FDFF;
  height: 60px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgb(221, 215, 215);
}


.table-heading-text {
  display: inline-block;
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #475867;
}

.table-header-right {
  float: right;
  display: inline-flex;
  padding-right: 30px;
  padding-top: 12px;
}

.filter-box {
  text-align: center;
  padding-top: 5px;
  width: 80px;
  height: 30px;
  border: 1px solid #CFD7DF;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFFFFF 2.56%, #F5F7F9 95.75%);
  margin-right: 30px;
  font-family: 'SF Pro Text';
  color: #475867;
}
.filter-svg {
  height: 16px;
}

.search-box {
  text-align: center;
  font-family: 'SF Pro Text';
  color: #475867;
  padding-top: 5px;
  width: 180px;
  height: 30px;
  border: 1px solid #CFD7DF;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFFFFF 2.56%, #F5F7F9 95.75%);
}

.header-svg-style {
  width: 20px;
  height: 20px;
  right: 15px;
  padding: 20px 15px 20px 10px;
}

.header-avathar {
  margin-right: 20px;
  margin-bottom: 12px;
}

.products-table { 
  border-collapse:collapse;
  color:#000;
  font-size:18px;
  width: 100%;
}

.table-head {
text-align: left;
height: 50px;
}
.table-head th { 
  color: #475867;
  width:25%; 
  padding:20px;
}

.product-name {
text-decoration: none;
font-family: 'SF Pro Text';
color: #475867;
}

.table-body td { 
color: #475867;
border-top: 1px;
border-top-style: solid;
border-color: rgb(221, 215, 215);
padding:20px;
}

.table-bold {
font-weight: 700;
font-size: 14px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #12344D;
  height: 60px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgb(221, 215, 215);
}

.header p {
  float: left;
  color: black;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
  display: inline-flex;
}

.header-button{
  padding: 20px;
  height: 20px;
}

.header-button-text {
  width: 160px;
  margin: 0px;
  padding: 10px 10px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #CFD7DF;
  border-radius: 4px;
  background-color: rgb(235, 237, 238);
  height: 20px;
  font-size: 14px;
  text-decoration: none;
  font-family: 'SF Pro Text';
  color: #1b2228;
}

.header-svg-style {
  width: 20px;
  height: 20px;
  right: 15px;
  padding: 20px 15px 20px 10px;
}

.header-avatar {
  margin-right: 20px;
  margin-bottom: 12px;
  padding-top: 8px;
}


.cancel-box {
  text-align: center;
  padding-top: 5px;
  width: 80px;
  height: 30px;
  border: 1px solid #CFD7DF;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFFFFF 2.56%, #F5F7F9 95.75%);
  margin-right: 30px;
}

.save-box {
  text-align: center;
  padding-top: 5px;
  width: 110px;
  height: 30px;
  background: linear-gradient(180deg, #264966 2.56%, #12344D 95.75%);
  border: 1px solid #12344D;
  border-radius: 4px;
}

.save-text {
  color: #FFFFFF;
}

.label-name {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #475867;
}

.value-name {
  font-family: 'SF Pro Text';
  font-weight: 500;
  font-size: 20px;
  color: #191c1f;
}