<div class="product-header">
    <p class="product-header-text"><a href="/products" class="all-products-route">All Products</a>&nbsp;&nbsp;&nbsp;->&nbsp;&nbsp;&nbsp;Freshdesk</p>
</div>
<div class="container">
    <div class="table-heading">
        <p class="table-heading-text">Nudge trial customers to use more filters and convert them to paid</p>
        <div class="table-header-right">
            <div class="cancel-box">
                <span>Cancel</span>
            </div>
            <div class="save-box">
                <span class="save-text">Save Config</span>
            </div>
        </div>
    </div>
    <div>
        <span class="label-name">New rules for</span><br>
        <span class="value-name">Customer Segment</span>
    </div>
</div>
