<div class="header">
  <p class="logo">FRESH LAUNCHES</p>
  <div class="header-right">

    <div class="header-button">
        <a href="/products/1/new" class="header-button-text">New Campaign</a>
    </div>
    {{svg-jar "search" class="header-svg-style"}}
    {{svg-jar "announcement" class="header-svg-style"}}
    {{svg-jar "notification" class="header-svg-style"}}
    {{svg-jar "avatar" class="header-avatar"}}
  </div>
</div>
